@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

.container{
    display: grid;
    grid-template-rows: 300px auto;
    place-items: center;
}

.intro > span{
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: bold;
}

.intro{
    font-size: 22px;
    text-align: center;
}

.beer-info{
    font-family: 'Nanum Gothic', sans-serif;
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-template-rows: repeat(6, auto);
    column-gap: 4px;
    row-gap: 10px;
}

.beer{
    display: grid;
    grid-template-rows: 30px 200px auto;
    place-items: center;
    row-gap: 10px;
}

.photo{
    width: 200px;
    height: 200px;
}

a{
    text-decoration: none;
}

#name{
    font-weight: bold;
}