
html, body {
    height: 100%
}

.wrapper {
    height: 200px;
    min-height: 100%;
    position: relative;
}

#footer-contour {
    position: relative; 
    transform: translatY(-100%);
    padding-bottom: 20px;
    font-family: 'Nanum Gothic', sans-serif;
    text-align: center;
    font-size: 12px;
}