
html, body {
    height: 100%
}

.wrapper, .container {
    min-height: 100%;
    position: relative;
}

footer {
    position: relative; 
    transform: translatY(-100%);
    padding-bottom: 20px;
    background-color: rgb(63, 60, 60);
    margin-top: 10px;
}

footer > p{
    font-family: 'Nanum Gothic', sans-serif;
    text-align: center;
    font-size: 10px;
    color: white;
    padding-top: 20px;
}