@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

.intro{
    margin-top: 100px;
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 22px;
    text-align: center;
}

#review-move{
    width: fit-content;
    margin: auto;
}