@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

.header-page{
    width: 100%
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333;
}

ul:after{
    content:'';
    display: block;
    clear:both;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Nanum Gothic', sans-serif;
}

li a:hover {
    color: white;
}

li a:hover:not(.active) {
    background-color: #111;
    color: white;
}