<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>맥주 갤러리</title>
    <link href="{{ url_for('static', path='css/header.css') }}" rel="stylesheet"> 
    <link href="{{ url_for('static', path='css/footer.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', path='css/beerList.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', path='css/bootstrap.min.css') }}" rel="stylesheet">
</head>

<body>
    {% include 'header.html' %}
    <div class="intro">
        <div class="intro-context">
            <span>Beer Gallery | 
                여러 사람들과 의견을 공유하다.
                </span>
        </div>
    </div>
    <div class="container">
        <div class="beer-page">
            <div class="beer-info">
                {% for beer in beers %}
                <div class="beer">
                    <a href="/beer/{{ beer[0] }}"><img class="photo" src={{ beer[2] }}></a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% include 'footer.html' %}

</body>

</html>
