<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Beer Four U</title>
    <link href="{{ url_for('static', path='css/index.css') }}" rel="stylesheet"> 
    <link href="{{ url_for('static', path='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', path='css/header.css') }}" rel="stylesheet"> 
    <link href="{{ url_for('static', path='css/footer.css') }}" rel="stylesheet"> 
</head>

<body>
    {% include 'header.html' %}
    <div class="intro">
        <h1>4캔 맥주 추천</h1>
        <p>오늘도 힘든 하루를 보낸 당신<br>
            오늘 하루의 피로를 잊을 수 있도록 당신의 취향에 맞는 맥주 4캔을 추천해드려요.</p>
        <input type="button" class="rec-beer-btn" onClick="location.href='/coldstart'" value="4캔 맥주 추천 받으러 가기 > ">
    </div>
    <div class="container">
        <hr id="contour">
        <div class="content">
            <div class="beer-page">
                {% for beer in beers %}
                <div class="beer">
                    <a href="beer/{{  beer[0]  }}"><img class="photo" src={{ beer[2] }}></a>
                    <div class="info">
                        <span id="name">{{ beer[1] }}</span><br>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="beer-btn">
            <input type="button" onClick="location.href='/beer'" value="더보기 >">
        </div>
    </div>
    {% include 'footer.html' %}
</body>

</html>
